
*{
    /*margin: 0px;*/
    padding: 0px;
    box-sizing: border;
    font-family: 'figtree';
}

@font-face {
    font-family: "Figtree";
    src:
        local("Figtree-VariableFont_wght"),
        url("Figtree-VariableFont_wght.ttf");
}
ul{
    list-style-type: none;
    
}
body{
    background-color: hsl(47, 88%, 63%);
    padding: 5rem 1rem;
    font-family: Figtree;
}
@media(min-widht: 768px){
    body{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
        padding: 0;
    }
}
.container{
    max-width: 500px;
    margin-inline: auto;
    background-color: hsl(0, 0%, 100%);
    padding: 1.3rem;
    border: 1px solid black;
    border-radius: 1rem;
    box-shadow: 10px 10px 0px black;
}

.container div:first-child img{
    width: 100%;
    border-radius: 1rem;
    
}


.container h1:hover{
   color: hsl(47, 88%, 63%);
   cursor: pointer;
}

.container h2 {
    background-color: hsl(47, 88%, 63%);
    font-size: 1rem;
    padding: 5px 10px;
    margin: 1.5rem 0 1rem;
    border-radius: 0.3rem;
    display: inline-block;
}

.container p{
    font-size: 0.9rem;
    margin: 0rem;
}

.container p.content{
    font-size: 1.1rem;
    color: hsl(0, 0%, 42%);
}

.container ul{
    margin: 25px 0px -5px 0px;
    display: flex;
    align-items: center;
}

.container ul > li{
    font-weight: bold;
    font-size: 1rem;
}

.container ul > li img{
    width: 65%;
}

.attribution {
    font-size: 16px;
    color: white;
    text-align: center;
    margin: 2rem;
}
.attribution a {
    color: hsl(228, 45%, 44%); 
}